body { background:url(../bilder/design/kisame/bg.png) repeat-x; background-color:#1f3146;}
.arrowlof a{   
background:url(../bilder/design/kisame/arrowlof.png);     
}    
.arrowlof a:hover{   
background:url(../bilder/design/kisame/arrowlh.png); 
}
.arrowlon a{  
background:url(../bilder/design/kisame/arrowlon.png);  
} 
.arrowrof a{  
background:url(../bilder/design/kisame/arrowrof.png);     
}    
.arrowrof a:hover{   
background:url(../bilder/design/kisame/arrowrh.png); 
}
.arrowron a{  
background:url(../bilder/design/kisame/arrowron.png);      
}  
.button {
background: url(../bilder/design/kisame/up.png) no-repeat top left;
}   
.button:active {
background: url(../bilder/design/kisame/down.png) no-repeat top left;
}
.button2 {
background: url(../bilder/design/kisame/up2.png) no-repeat top left;
}   
.button2:active {
background: url(../bilder/design/kisame/down2.png) no-repeat top left;
}
.button3 {
background: url(../bilder/design/kisame/up3.png) no-repeat top left;
}   
.button3:active {
background: url(../bilder/design/kisame/down3.png) no-repeat top left;
}
.textfield2
{
background: url(../bilder/design/kisame/textfield.png) no-repeat;
}
.eingabe1
{
background: url(../bilder/design/kisame/eingabe.png) no-repeat;
}
.eingabe3
{
background: url(../bilder/design/kisame/eingabe2.png) no-repeat;
}
.eingabe5
{
background: url(../bilder/design/kisame/eingabe3.png) no-repeat;
}
.ltc{
background:url(../bilder/design/kisame/lefttopc.png);
}
.lt{
background:url(../bilder/design/kisame/lefttop.png);
}
.lm{
background:url(../bilder/design/kisame/leftmit.png);
}
.lb{
background:url(../bilder/design/kisame/leftbot.png);
}
.rth{
background:url(../bilder/design/kisame/rechtstoph.png);
}
.rt{
background:url(../bilder/design/kisame/rechtstop.png);
}
.rm{
background:url(../bilder/design/kisame/rechtsmit.png);
}
.rb{
background:url(../bilder/design/kisame/rechtsbot.png);
}
.olb{
background:url(../bilder/design/kisame/topl.png);
}
.omb{
background:url(../bilder/design/kisame/topm.png);
}
.orb{
background:url(../bilder/design/kisame/topr.png);
}
A:link {color: #fff; }
A:visited {color: #fff; }
A:active {color: #fff; }
A:hover {color: #000; text-shadow: 0px 0px 5px #fff;}   
A.blink{color: #f00000;}
.footer{color:#fff;}
.auswahl{color: #fff;  background: url(../bilder/design/auswahlp.png) no-repeat right #62737b;}
.auswahl2{color: #fff;  background: url(../bilder/design/auswahlp.png) no-repeat right #62737b;}
.statsadd{color:#33bb33;}
