body { background:url(../bilder/design/naruto/bg.png) repeat-x; background-color:#f4fbff;}
.arrowlof a{   
background:url(../bilder/design/naruto/arrowlof.png);     
}    
.arrowlof a:hover{   
background:url(../bilder/design/naruto/arrowlh.png); 
}
.arrowlon a{  
background:url(../bilder/design/naruto/arrowlon.png);  
} 
.arrowrof a{  
background:url(../bilder/design/naruto/arrowrof.png);     
}    
.arrowrof a:hover{   
background:url(../bilder/design/naruto/arrowrh.png); 
}
.arrowron a{  
background:url(../bilder/design/naruto/arrowron.png);      
}  
.button {
background: url(../bilder/design/naruto/up.png) no-repeat top left;
}   
.button:active {
background: url(../bilder/design/naruto/down.png) no-repeat top left;
}
.button2 {
background: url(../bilder/design/naruto/up2.png) no-repeat top left;
}   
.button2:active {
background: url(../bilder/design/naruto/down2.png) no-repeat top left;
}
.button3 {
background: url(../bilder/design/naruto/up3.png) no-repeat top left;
}   
.button3:active {
background: url(../bilder/design/naruto/down3.png) no-repeat top left;
}
.textfield2
{
background: url(../bilder/design/naruto/textfield.png) no-repeat;
}
.eingabe1
{
background: url(../bilder/design/naruto/eingabe.png) no-repeat;
}
.eingabe3
{
background: url(../bilder/design/naruto/eingabe2.png) no-repeat;
}
.eingabe5
{
background: url(../bilder/design/naruto/eingabe3.png) no-repeat;
}
.ltc{
background:url(../bilder/design/naruto/lefttopc.png);
}
.lt{
background:url(../bilder/design/naruto/lefttop.png);
}
.lm{
background:url(../bilder/design/naruto/leftmit.png);
}
.lb{
background:url(../bilder/design/naruto/leftbot.png);
}
.rth{
background:url(../bilder/design/naruto/rechtstoph.png);
}
.rt{
background:url(../bilder/design/naruto/rechtstop.png);
}
.rm{
background:url(../bilder/design/naruto/rechtsmit.png);
}
.rb{
background:url(../bilder/design/naruto/rechtsbot.png);
}
.olb{
background:url(../bilder/design/naruto/topl.png);
}
.omb{
background:url(../bilder/design/naruto/topm.png);
}
.orb{
background:url(../bilder/design/naruto/topr.png);
}
A:link {color: #000090; }
A:visited {color: #000090; }
A:active {color: #0000ff; }
A:hover {color: #0000ff; text-shadow: 0px 0px 5px #fff;}
A.blink{color: #f00000;}
.footer{color:#000;}
.auswahl{color: #fff;  background: url(../bilder/design/auswahlp.png) no-repeat right #ffa74d;}
.auswahl2{color: #fff;  background: url(../bilder/design/auswahlp.png) no-repeat right #ffa74d;}
.statsadd{color:#33bb33;}